{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="bg-light mt-4 p-4">
                <h1>Register</h1>

                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email) }}
                    <div class="mb-3">
                        {{ form_label(registrationForm.plainPassword, 'Password') }}
                        {{ form_widget(registrationForm.plainPassword) }}
                        {{ form_errors(registrationForm.plainPassword, { 'attr': {'class': 'form-error-message'} }) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(registrationForm.agreeTerms) }}
                        {{ form_errors(registrationForm.agreeTerms, { 'attr': {'class': 'form-error-message'} }) }}
                    </div>

                    <button type="submit" class="btn btn-primary">Register</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
